<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/overrides.css' />
    <script src="/javascripts/jquery-3.1.1.min.js" ></script>
    <script src="/javascripts/js_cookie.js" ></script>
    <script src="/javascripts/game.js" ></script>
    <script src="/javascripts/async.min.js" ></script>
    <script src="/javascripts/fast_bindall.js" ></script>
    <script src="/javascripts/game_client.js" ></script>
  </head>
  <body class='container black-background'>
  	<div class="col-xs-12 text-center center-page background-overlay game-background">
  	</div>
  </body>
</html>
